{
  "$schema": "https://ugs-config-schemas.unity3d.com/v1/economy/economy-real-purchase.schema.json",
  "name": "Kapitän Arjan Dhillon",
  "storeIdentifiers": {
    "appleAppStore": "commander.arjan.dhillon",
    "googlePlayStore": "commander.arjan.dhillon"
  },
  "rewards": []
}
